.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 110vh;
  gap: 2rem;
  margin-bottom: -30px;
}

.login::before {
  display: block;
  content: '';
  background: url('../../Assets/login.jpeg') no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
  margin-top: 15vh;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
    min-height: 50vh;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
    margin-top: 5vh;
  }
}
